<mat-card class="cardresize">
   <mat-card-title>
      <input class="inputclass" matInput style="margin-left:20px;" [(ngModel)]="data.notedetails.title">
   </mat-card-title>
   <mat-card-subtitle>
      <input class="inputclass" matInput style="margin-left:20px;" [(ngModel)]="data.notedetails.description">
   </mat-card-subtitle>

   <mat-card-footer>

      <div fxLayout="row" mat-dialog-actions>
         <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">
               add_alert
            </mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">
               person_add
            </mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">
               palette
            </mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">
               add_photo_alternate
            </mat-icon>
         </button>
         <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">
               archive
            </mat-icon>
         </button>
         <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="Example icon-button with a heart icon">
               more_vert
            </mat-icon>
            <mat-menu #menu="matMenu">
               <button mat-menu-item (click)="noteDelete()">Delete note</button>
               <button mat-menu-item>Change labels</button>
               <button mat-menu-item>Show checkboxes</button>
            </mat-menu>
         </button>

         <button mat-icon-button [mat-dialog-close]="data.notedetails">Close
         </button>

      </div>


   </mat-card-footer>
</mat-card>