<mat-card>
  <mat-card-title class="labelsize">Edit Labels</mat-card-title>

  <mat-card-subtitle>
    <input matInput placeholder="Enter Label Name" style="margin: initial;" [(ngModel)]="Label">

  </mat-card-subtitle>
  <mat-card-content>
    <div *ngFor="let labels of data.labelsall">
      <button mat-icon-button (click)="deleteLabel(labels)">
        <mat-icon>
          delete
        </mat-icon>
      </button>
      <mat-form-field class="adjust">
        <input matInput [(ngModel)]="labels.labelTitle">
      </mat-form-field>
      <button mat-icon-button (click)="labelTitleupdate(labels)">
        <mat-icon>edit</mat-icon>
      </button>

    </div>
  </mat-card-content>
  <mat-card-footer>
    <button mat-icon-button [mat-dialog-close]="Label">Create Label</button>
  </mat-card-footer>

</mat-card>