/* .example-card{
    margin-top: 100px;
     margin-left: 300px;
    max-width: 500px; 
  }

.example-card1{
    margin-top: 50px;
     margin-left: 300px;
    max-width: 500px; 
  }
  .card1{
    margin-top: 50px;
    margin-left: 300px;
    max-width: 500px; 
    outline: none;
    border: none;
    border-color: transparent;

  }
  .example-icon {
    padding: 0 14px;
  }
  

   */

   .inputclass{

    outline: none;
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
    border: solid 0px transparent;
    border-width: 0 0 0 4px
  }
  
  .takeanote{
      outline: none;
      outline-style: none;
      box-shadow: none;
      border-color: transparent;
      border: solid 1px transparent;
      max-height: 400px;
      overflow-y: auto; 
  }
  .card{
    margin: 2em;
}


