<div fxLayout="row" fxLayoutGap="10px" class="card" >
   <mat-card *ngIf=!navshow (click)="fullCardShow()" style="min-width: 500px; margin:300px">
      Take a note ...

   </mat-card>

   <mat-card *ngIf=navshow [style.background-color]="myColor">
      <mat-card-title>
         <input class="inputclass" matInput placeholder="Title" style="margin-left:20px;" [(ngModel)]="createnote.title"
         [style.background-color]="myColor">
      </mat-card-title>
      <mat-card-subtitle>
         <div class="takeanote" matInput placeholder="Take a note.." contenteditable="true" aria-placeholder='Take a note...'
            style="margin-left:20px;" [textContent]="createnote.description" (input)="createnote.description=$event.target.textContent">
         </div>
      </mat-card-subtitle>
      <div fxLayout="row">
         <button mat-icon-button matTooltip="Remind me">
            <mat-icon aria-label="Example icon-button with a heart icon">
               add_alert
            </mat-icon>
         </button>
         <button mat-icon-button matTooltip="Collaborator">
            <mat-icon aria-label="Example icon-button with a heart icon">
               person_add
            </mat-icon>
         </button>
         <!-- <button mat-icon-button matTooltip="Change  color">
            <mat-icon aria-label="Example icon-button with a heart icon">
               palette
            </mat-icon>
         </button> -->
        <button mat-icon-button [matMenuTriggerFor]="colormenu" matTooltip="Change color">
            <mat-icon aria-label="Example icon-button with a heart icon">
               palette
            </mat-icon>
         </button>
         <mat-menu #colormenu="matMenu">
            <mat-list>

               <div *ngFor="let colorx of colors">
                  <span *ngFor="let single of colorx">
                     <button class="manual" mat-icon-button (click)="changeColor(single)">
                        <mat-icon [style.color]="single">fiber_manual_record</mat-icon>
                     </button>
                  </span>
               </div>
            </mat-list>
         </mat-menu>

         <button mat-icon-button matTooltip="Add image">
            <mat-icon aria-label="Example icon-button with a heart icon">
               add_photo_alternate
            </mat-icon>
         </button>
         <button mat-icon-button matTooltip="Archive">
            <mat-icon aria-label="Example icon-button with a heart icon">
               archive
            </mat-icon>
         </button>
         <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon aria-label="Example icon-button with icon" matTooltip="More">
               more_vert
            </mat-icon>
            <mat-menu #menu="matMenu">
               <button mat-menu-item>Add label</button>
               <button mat-menu-item>Add drawing</button>
               <button mat-menu-item>Show checkboxes</button>
            </mat-menu>
         </button>
         <div style="margin-left: 200px;">
            <button mat-icon-button (click)="noteSave()">Close
            </button>
         </div>
      </div>
   </mat-card>

</div>