
<!-- <mat-sidenav-container class="example-container" autosize>
<mat-sidenav #sidenav  class="example-sidenav" mode="side" disableClose >
        <mat-action-list>
                    <button mat-list-item> Notes </button>
                    <button mat-list-item> Remainder </button>
                    <mat-divider ></mat-divider>
                    <h6 style="font-size:70%;" matSubheader >LABELS</h6>
                    <button mat-list-item> Edit labels </button>
                    <mat-divider></mat-divider>
                    <button mat-list-item> Archive </button>
                    <button mat-list-item> Trash </button>             
       </mat-action-list>
             
<mat-sidenav-content>
        

</mat-sidenav-content> 
</mat-sidenav>
</mat-sidenav-container> -->

                













