
 mat-toolbar {
  height: 64px;
  width: 100%;
  top: 0; /* Sets the sticky toolbar to be on top */
 z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  position: sticky;
  
} 

.bgcolor{
  background-color:white;
}

.disablescroll{
  overflow-x: hidden;
  
}

.mat-sidenav:hover{
  overflow-y: auto;
}
.searchInput{
  width: 500px;
  height:30px;
  font-size:15px;
  background-color:0;
  border: 0px;
 
}
.searchButton{
  width: 40px;
  height: 40;
  background-color:whitesmoke;
}
.searchMatCard
{
  width: 50000px;
  height: 40px;
  margin-right: 150px;

}
.buttonOver:hover{
  background-color: rgba(231, 201, 136, 0.959);
}
.buttonOver
{
  width: 250px;
  border-radius: 0px 50px 50px 0px;
}
input:focus { 
  outline: 0px;
}
button:focus { 
  background-color: rgba(231, 201, 136, 0.959);
}
.example-container {
  min-width: 1300px;
    min-height: 600px;
  border: 0px solid rgba(255, 255, 255);
}
.example-card{
  width: 250px;
  height: 150px;
}
.profile{
  width: 80px;
  height: 80px;
}
.profileButton{
  background-color: blanchedalmond;
  zoom: 2;
 
  

}
.nameStyle{
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
emailStyle{
  font-size: 11px;

}


/* .scrollContent
{
  overflow: scroll;
} */

/* .example-sidenav {
  padding: 20px;
}
.example-container {
  min-width: 1300px;
    min-height: 600px;
  border: 0px solid rgba(255, 255, 255);
} */

/* .example-icon {
    padding: 0 14px;
  } */
  
  /* .example-spacer {
    flex: 1 1 20%;
  } */


/* mat-icon {
  transform: scale(.8);
} */

 mat-button{
  margin: 10px;
} 


  
 
/*   
  .example-card{
    margin-top: 50px;
     margin-left: 300px;
    max-width: 500px; 
  }
   */
  /* .clear{
    outline: none;
  } */
/*    
  .mat-input-element {

    width: 471px;
    height: 59px;
    outline: none;
    box-shadow: none;
    border-color: transparent;
  } 
  
  textarea { 
    resize: none; 
  }
  .xyz{
    resize: none
  } 

  .mat-input-underline {
    display: none;
  }
  
  .noteclass{
    max-height: 400px;
    overflow-y: auto; 
    
  }

  
  */